/*GENERAL*/
body {
    padding-top: 60px;
}
/*HEADER*/
/*SIDEBAR*/

.main-header .bl-navbar { /*qua si vince per specificità*/
    background: #2c3e50;
    color: #fff;
}
.main-header .bl-brand {
    height: 70px;
    line-height: 60px;
    padding: 0 15px;
    font-size: 22px;
    color: #fff;
    border: 0;
}
.main-header .bl-nav > li > a{
    line-height: 60px;
    padding: 0 15px;
    color: #fff;
    transition: background 3s;
}
.main-header .bl-nav > li > a:hover {
    background: rgba(58, 84,109, 1);
}
/*HEADER-CONTENT*/
.header-content {
    background:#1abc9c;
    color: white;
    text-align: center;
}
.header-content img {
    width: 250px;
    padding-top: 30px;
}

/*MAIN HERO*/
h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*CARD COLORI*/
.card-1 {
    height: 200px;
    background: #ba4b63;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-2 {
    height: 200px;
    background:#1ea4b6;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-3 {
    height: 200px;
    background: #000;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-4 {
    height: 200px;
    background:#1c83c1;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-5 {
    height: 200px;
    background: #0e38b5;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-6 {
    height: 200px;
    background: #ccb2a3;
    border-radius: 20px;
    margin-bottom: 10px;
}

/*SEZIONE ABOUT*/
.bg-about {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    background: #1abc9c;
}
/*CONTACT*/
.contact {
    height: 400px;
}
.form-1 {
    height: 20px;
    background: #ba4b63;
    margin-bottom: 10px;
}
.form-2 {
    height: 20px;
    background: #ba4b63;
    margin-bottom: 10px;
}
.form-3 {
    height: 20px;
    background: #ba4b63;
    margin-bottom: 10px;
}
/*LOCATION*/
.location {
    height: 150px;
    background: rgba(58, 84,109, 1);
    color: white;
    text-align: center;
    padding-top: 10px;
}
.text {
    height: 10px;
    background: #ccb2a3;
    margin-bottom: 10px;
}
.icons {
    height: 10px;
    background: #ccb2a3;
    margin-bottom: 10px;
}
.info {
    height: 10px;
    background: #ccb2a3;
    margin-bottom: 10px;
}

/*footer*/
.footer {
    height: 80px;
    background: #2c3e50;
}
.footer-text {
    height: 20px;
    margin-top: 20px;
    background: salmon;
}
/*media per il tablet*/
@media screen and (min-width:768px) {
    /*spazio del header*/
    .header-bottom {
        height: 300px;
    }
    
}

/*media per il pc*/
@media screen and (min-width:970px) {
    /*spazio del header*/
    .header-bottom {
        height: 500px;
        
    }
   
}
